<%= form_for @movie, html: { multipart: true } do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :movie_length %><br>
    <%= f.text_field :movie_length %>
  </div>
  <div class="field">
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<footer id="site-footer">

  <a href="https://github.com/jpbamberg1993/sonny_group">
  <i class="fa fa-github-alt fa-3x"></i>
  </a>

  <a href="https://twitter.com/_PaulBamberg" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @_PaulBamberg</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <!-- <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"   data-action="like" data-show-faces="false" data-share="false">
  </div> -->

  <ul>
    <li>
      <a href="">Contact Us</a>
    </li>
    <li>
      <a href="">About Us</a>
    </li>
    <li>
      <a href="">&copy 2015 Sonny</a>
    </li>
  </ul>
</footer>
